@media screen and (max-width:800px) {
    .navbar {
        flex-direction: column;
    }
}

@media screen and (max-width:576px) {
    .nav-hamburger-menu {
        display: block;
    }

    .nav-links {
        display: none;
    }

    .navbar {
        flex-direction: row;
    }

    .banner,
    .section-card {
        flex-direction: column;
    }

    .banner-images img {
        margin-top: 10%;
    }

    .banner-text h1 {
        margin-left: 0;
    }

    .card-2 {
        margin-top: -70%;
        margin-left: 15%;
    }

    /* Habits section responsive start */
    .section-card {
        grid-template-columns: repeat(1, 1fr);

    }

    .section-title {
        width: 100%;
    }

    .br {
        display: none;
    }

    /* run section responsive start */
    .about-section {
        flex-direction: column;
        align-items: start;
        width: 95%;
        height: 100%;
    }

    .about-section img {
        width: 100%;
        margin-top: 10%;
        margin-left: -0%;
    }

    .about-section-title h1 {
        font-size: 18px;
        margin-left: 10px;
    }

    .about-section-title p {
        width: 100%;
        margin-left: 20px;
        font-size: 18px;
    }

    /* calculator responsive start */
    .calculator-title-container{
        flex-direction: column;
    }

    .input-content{
        width: 80%;
        flex-direction: column;
        margin-top: 40%;
        margin-left: 25%;
    }

    .input-content h1{
       margin-left: -60%;
    }

    .input-content p{
        margin-left: -60%;
        font-size: 16px;
        display: none;
    }

    .input-form input{
        width: 100%;
        margin-left: -50%;
        padding: 5px 5px 16px 10px;
    }

    .input-form{
        gap: 10%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

}