@media screen and (max-width:800px) {
    .navbar {
        flex-direction: column;
    }
}

@media screen and (max-width:576px) {
    .nav-hamburger-menu {
        display: block;
    }

    .nav-links {
        display: none;
    }

    .navbar {
        flex-direction: row;
    }

    .banner,
    .section-card {
        flex-direction: column;
    }

    .banner-images img {
        margin-top: 10%;
    }

    .banner-text h1 {
        margin-left: 0;
    }

    .card-2 {
        margin-top: -70%;
        margin-left: 15%;
    }

    /* Habits section responsive start */
    .section-card {
        width: 100%;
        height: 100%;
        grid-template-columns: repeat(1, 1fr);

    }

    .section-title {
        width: 100%;
        font-size: 18px;
    }

    .br {
        display: none;
    }

    /* run section responsive start */
    .about-section {
        flex-direction: column;
        align-items: start;
        width: 100%;
        height: 100%;
        
    }

    .about-section-container{
        
    }

    .about-section img {
        width: 100%;
        margin-top: 10%;
        margin-left: -0%;
    }

    .about-section-title h1 {
       
        font-size: 18px;
        margin-left: 10px;
    }

    .about-section-title p {
        width: 100%;
        margin-left: -5px;
        font-size: 18px;
    }

    /* calculator responsive start */
    .calculator-title-container{
        width: auto;
        height: auto;
    }
    .table-container{
        display: flex;
        flex-direction: column;
        width: auto;
        height: auto;
    }

    .table-title{
        width: auto;
        height: auto;
    }

    .input-container{
        width: auto;
        height: auto;
    }
    /* meet section responsive start */
    .meet-content{
        width: 100%;
       
    }

    .meet-card{
        gap: 30px;
        width: 100%;
        display: grid;
    grid-template-columns: repeat(1, 1fr);
    }

    .row-1,
 img{
    width: 365px;
    height: 365px;
    border-radius: 30px;
}

}