@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.Inter-sans-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* shared styles */
.display-flex {
    display: flex;
}

.container {
    background-color: black;

}

.bg-secondary {
    background-color: #8080804d;
}

.span {
    color: #E6533C;
}



/* header styles */
.header {
    color: white;
}


/* navbar related styles */
.navbar {
    justify-content: space-between;
    align-items: center;
    display: flex;
   

}

.brand {
    font-weight: 700;
    font-size: 3rem;
    margin-left: 10%;
}

.nav-item {
    list-style: none;
    margin-right: 30px;
}

.about {
    width: 400px;
    height: 50px;
    margin-right: 60px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    /* border: 2px solid tomato; */
}

.nav-link {
    text-decoration: none;
    font-weight: 500;
    color: white;



}

/* .navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
} */

.home {
    background-color: #E6533C;
    padding: 8px 20px 8px 20px;
    margin: 50px 27px;
    border-radius: 40px;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    margin-top: -3%;
}

.nav-hamburger-menu {
    display: none;
}

/* banner styles start here */

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 15%;
    margin-top: 3%;
}

.banner-text h1 {
    font-size: 50px;
    font-weight: bold;
    margin-left: -33%;
    margin-top: -10%;
}

.banner-text p {
    color: #FFFFFF80;
}

.btn-primary {
    width: 176px;
    height: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 28px;
    background-color: rgb(255, 84, 0);
    color: white;
    border: 1px solid rgb(255, 84, 0);
}

.btn-btn {
    width: 176px;
    height: 50px;
    border-radius: 28px;
    background-color: black;
    border: 1px solid white;
    color: white;
}

.bg-btn {
    display: flex;
    gap: 10px;
    padding: 0.7rem 1.2rem;
    font-weight: 800;

}

.banner-images {
    position: relative;
}

.banner-images img {
    width: 80%;
    height: 80%;
    margin-top: -14%;
    /* border: 2px solid tomato; */
}

.card-1 {
    width: 153px;
    height: 78px;
    position: absolute;
    top: 15%;
    right: 0%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);

}

.card-1 h1 {
    font-size: 30px;
    font-weight: 900;
    margin-top: -4%;
    color: rgb(255, 255, 255);
}

.card-1 p {
    margin-top: -12%;
    color: #808080f2;
}

.card-2 {

    width: 153px;
    height: 78px;
    position: absolute;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    left: -15%;
    margin-top: -35%;
    
}

.boll {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 100px;
    display: flex;
    left: 2px;
    top: 10px;
    background-color: #E6533C;
}

.card-2 h1{
    position: absolute;
   margin-top: -20%;
   left: 130%;

}

.card-2 p{
    position: absolute;
   top: 40%;
    
 
}

/* .main{
    max-width: 1440px;
    margin: 0 auto;
} */
/* Habits styles start */
.section-title {
    width: 476px;
    height: 160px;
    color: #FFFFFF80;
    border: 2px solid red;
    margin: 70px auto;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.section-title h1 {
    margin-top: 5%;
    font-size: 35px;
    color: white;
}

.section-content{
    max-width: 900px;
    margin: 0 auto;
    
}

.section-card {
    
    gap: 25px;
    margin-top: -7%;
    /* background-color: #808080f2; */
    border: 2px solid turquoise;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

.section-card img {
    border-radius: 100px;
}

.section-content h2{
    color: white;
    font-size: 1rem;
}

.section-content p{
    color: #FFFFFF80;
}

/* run section styles here */
.about-section {
    width: 900px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #8080804f;
    margin: 30px auto;
    border: 2px solid red;
}

.about-section img {
    width: 250px;
    height: 250px;
    border-radius: 28px;
    object-fit: none;
    object-position: 66% 30%;
    margin-left: -30%;
}

.about-section-title h1 {
    margin-right: 60%;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    padding-left: 20px;
}

.about-section-title p {

    color: #808080f2;
}
/* calculate section start */
.calculator-text {
    width: 476px;
    height: 120px;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 2px solid tomato;
}

.calculator-text h1 {
    font-size: 25px;
    color: #ffffff;
}

.calculator-text p {
    color: #8080809a;
}

.calculate {
    width: 1240px;
    height: 400px;
    margin-top: 3%;
    display: flex;
    background-color: #80808033;
    border: 2px solid brown;
}

.calculate-text p {
    margin-left: 50%;
}

.calculator-chart h1 {
    color: #ffffff;
    margin-top: 5%;
    padding-left: 120px
   
}

.table-data {
    margin-left: 8%;
    margin-top: -25%;
    padding: 5px 20px;
    /* border: 2px solid #696969; */
}

tr,
th,
td {
    padding: 5px 20px;
    border: 2px solid #696969;
    border-collapse: collapse;
}

th{
    color: #ffffff;
}

td {
    background: rgba(255, 255, 255, 0.1);
    color: #ffffff57;
}

.table {
    border-collapse: collapse;
}

.input{
   display: grid;
   grid-template-columns: repeat(2,1fr);
   margin-right: -100%;
}

.bmi-container {
    margin-left: 40%;
    margin-top: -21%;
}

.bmi-container h1 {
    margin-left: 15%;
    color: #ffffff;
}

.bmi-container p {
    margin-left: 15%;
    color: #808080f2;
}

.cm {
    margin-left: 49%;
}

.text {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    padding: 12px 40px 12px 20px;
    border: none;

}

.age {
    margin-left: 49%;
    margin-top: 1%;
}

.sex {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    padding: 12px 40px 12px 20px;
    border: none;
}

.factor {
    width: 450px;
    height: 22px;
    margin-left: 49%;
    margin-top: 1%;
}

.an {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    padding: 12px 265px 12px 20px;
    border: none;
}

.select-1 {
    margin-left: 82%;
    background: rgba(255, 255, 255, 0.1);
    cursor: pointer;
    border: none;
    color: #ffffff;
}

.select {
    margin-right: -23%;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    margin-left: -5%;
    cursor: pointer;
    color: #ffffff;

}

.item {
    /* margin-left: 95%; */
    margin-top: -8%;
}

.btn {
    margin-top: 3%;
    margin-left: 50%;
}









